In [ ]:
'''
__PROJECT__*__DESCRIPTION__

DATA WRANGLING WITH NETFLIX DATA

For this project, I am told to explore the netflix tv shows and movies dataset, use python pandas to perform 
groupby operations to group data by single and multiple columns. Plus, applying built-in and custom functions for data 
aggregation and summarization as well as wrangling out some needed series to answer given questions.

'''

In [191]:
import pandas as pd

In [104]:
df = pd.read_csv('datasets//netflix movie credits//titles.csv')

In [3]:
df.shape

(5850, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [62]:
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 500)

In [96]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000

In [106]:
#drop records(rows) where the imdb_score column has missing values(NaN)

df.dropna(subset=['imdb_score'], inplace=True)

In [71]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,standardized_imdb
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,0.369917
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300,NaN
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811,-0.707107
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600,0.707107
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,1.530534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,tm1097142,My Bride,MOVIE,The story follows a young man and woman who go...,2021,NaN,93,"['romance', 'comedy', 'drama']",['EG'],NaN,tt14216488,5.0,327.0,2.545,5.300,-0.309386
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN,-0.381190
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,0.783802
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000,-1.236320

In [72]:
df.isna().sum()

id                         0
title                      0
type                       0
description                5
release_year               0
age_certification       2335
runtime                    0
genres                     0
production_countries       0
seasons                 3429
imdb_id                    0
imdb_score                 0
imdb_votes                16
tmdb_popularity           75
tmdb_score               223
standardized_imdb       1334
dtype: int64

In [107]:
#for each tv show or movie which has nan value in the age certification column, replace it with 'no certification'

df['age_certification'].fillna('No certification', inplace=True)

In [13]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,No certification,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,tm1097142,My Bride,MOVIE,The story follows a young man and woman who go...,2021,No certification,93,"['romance', 'comedy', 'drama']",['EG'],NaN,tt14216488,5.0,327.0,2.545,5.300
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,No certification,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,No certification,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,No certification,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,No certification,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000

In [14]:
df.isna().sum()

id                         0
title                      0
type                       0
description                5
release_year               0
age_certification          0
runtime                    0
genres                     0
production_countries       0
seasons                 3429
imdb_id                    0
imdb_score                 0
imdb_votes                16
tmdb_popularity           75
tmdb_score               223
dtype: int64

In [108]:
#for each tv show or movie which has nan value in the seasons column, replace it with the most occured value in seasons

most_occured = df['seasons'].mode()[0]
most_occured

1.0

In [109]:
df['seasons'].fillna(most_occured, inplace=True)

In [82]:
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,standardized_imdb
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],1.0,tt0075314,8.2,808582.0,40.965,8.179,0.369917
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],1.0,tt0068473,7.7,107673.0,10.010,7.300,NaN
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],1.0,tt0071853,8.2,534486.0,15.461,7.811,-0.707107
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,No certification,150,"['war', 'action']","['GB', 'US']",1.0,tt0061578,7.7,72662.0,20.398,7.600,0.707107
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,1.530534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,tm1097142,My Bride,MOVIE,The story follows a young man and woman who go...,2021,No certification,93,"['romance', 'comedy', 'drama']",['EG'],1.0,tt14216488,5.0,327.0,2.545,5.300,-0.309386
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,No certification,100,"['romance', 'drama']",['NG'],1.0,tt13857480,6.8,45.0,1.466,NaN,-0.381190
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,No certification,134,['drama'],[],1.0,tt11803618,7.7,348.0,NaN,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,No certification,90,['comedy'],['CO'],1.0,tt14585902,3.8,68.0,26.005,6.300,0.783802
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,No certification,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000,-1.236320

In [21]:
df.isna().sum()

id                        0
title                     0
type                      0
description               5
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                   0
imdb_score                0
imdb_votes               16
tmdb_popularity          75
tmdb_score              223
dtype: int64

In [40]:
#count the number of movies or tvshows for each age certification

df.groupby('age_certification').size().reset_index(name='count')

   age_certification  count
0                  G     99
1              NC-17     15
2   No certification   2335
3                 PG    223
4              PG-13    435
5                  R    530
6              TV-14    441
7               TV-G     75
8              TV-MA    833
9              TV-PG    173
10              TV-Y     98
11             TV-Y7    111

In [118]:
#count the number of movies and tv shows(seperately) produced in each release year

df.groupby(['release_year', 'type']).size().reset_index(name='count')

     release_year   type  count
0            1954  MOVIE      2
1            1956  MOVIE      1
2            1958  MOVIE      1
3            1959  MOVIE      1
4            1960  MOVIE      1
5            1961  MOVIE      1
6            1963  MOVIE      1
7            1966  MOVIE      1
8            1967  MOVIE      2
9            1969  MOVIE      1
10           1969   SHOW      1
11           1971  MOVIE      1
12           1972  MOVIE      2
13           1972   SHOW      1
14           1973  MOVIE      1
15           1974  MOVIE      1
16           1975  MOVIE      2
17           1976  MOVIE      3
18           1977  MOVIE      1
19           1978  MOVIE      1
20           1979  MOVIE      5
21           1980  MOVIE      3
22           1981  MOVIE      2
23           1981   SHOW      1
24           1982  MOVIE      5
25           1982   SHOW      1
26           1983  MOVIE      3
27           1983   SHOW      1
28           1984  MOVIE      5
29           1984   SHOW      1
30           1985  MOVIE      1
31           1986  MOVIE      4
32           1987  MOVIE      5
33           1987   SHOW      1
34           1988  MOVIE      6
35           1988   SHOW      1
36           1989  MOVIE      8
37           1989   SHOW      3
38           1990  MOVIE      7
39           1991  MOVIE      9
40           1992  MOVIE      1
41           1992   SHOW      1
42           1993  MOVIE     12
43           1993   SHOW      2
44           1994  MOVIE     12
45           1994   SHOW      4
46           1995  MOVIE      8
47           1995   SHOW      2
48           1996  MOVIE      5
49           1996   SHOW      2
50           1997  MOVIE     14
51           1997   SHOW      2
52           1998  MOVIE     16
53           1998   SHOW      5
54           1999  MOVIE      9
55           1999   SHOW      3
56           2000  MOVIE      6
57           2000   SHOW      5
58           2001  MOVIE     13
59           2001   SHOW      6
60           2002  MOVIE     13
61           2002   SHOW      8
62           2003  MOVIE     20
63           2003   SHOW      9
64           2004  MOVIE     27
65           2004   SHOW      5
66           2005  MOVIE     21
67           2005   SHOW     10
68           2006  MOVIE     31
69           2006   SHOW     12
70           2007  MOVIE     35
71           2007   SHOW     10
72           2008  MOVIE     44
73           2008   SHOW     14
74           2009  MOVIE     39
75           2009   SHOW     17
76           2010  MOVIE     45
77           2010   SHOW     18
78           2011  MOVIE     55
79           2011   SHOW     24
80           2012  MOVIE     73
81           2012   SHOW     31
82           2013  MOVIE     92
83           2013   SHOW     35
84           2014  MOVIE    103
85           2014   SHOW     41
86           2015  MOVIE    124
87           2015   SHOW     88
88           2016  MOVIE    213
89           2016   SHOW    130
90           2017  MOVIE    367
91           2017   SHOW    173
92           2018  MOVIE    446
93           2018   SHOW    286
94           2019  MOVIE    465
95           2019   SHOW    283
96           2020  MOVIE    424
97           2020   SHOW    257
98           2021  MOVIE    429
99           2021   SHOW    289
100          2022  MOVIE    180
101          2022   SHOW    156

In [123]:
#calculate the average runtime and imdb score of movies and tv shows for each release year

df.groupby(['release_year'])[['runtime', 'imdb_score']].mean().reset_index()

    release_year     runtime  imdb_score
0           1954  107.500000    7.450000
1           1956  120.000000    6.700000
2           1958   77.000000    7.500000
3           1959  142.000000    6.600000
4           1960  158.000000    6.400000
5           1961  158.000000    7.500000
6           1963  186.000000    7.600000
7           1966  117.000000    7.300000
8           1967  130.000000    7.700000
9           1969   79.500000    8.450000
10          1971  102.000000    7.700000
11          1972   83.000000    7.333333
12          1973  131.000000    5.100000
13          1974  162.000000    6.500000
14          1975  100.500000    7.300000
15          1976  124.333333    6.666667
16          1977  150.000000    7.500000
17          1978  141.000000    4.400000
18          1979  105.000000    7.120000
19          1980  119.333333    5.233333
20          1981   87.666667    6.500000
21          1982  103.166667    7.066667
22          1983  102.500000    6.600000
23          1984  111.166667    6.883333
24          1985   87.000000    8.000000
25          1986  117.000000    6.250000
26          1987   89.833333    6.716667
27          1988  105.285714    6.000000
28          1989   84.454545    7.236364
29          1990  119.285714    6.928571
30          1991   99.666667    5.988889
31          1992   75.500000    5.500000
32          1993  105.571429    6.950000
33          1994  102.125000    6.943750
34          1995  105.800000    7.020000
35          1996   82.142857    6.914286
36          1997  110.062500    6.887500
37          1998   96.095238    7.100000
38          1999   97.583333    6.900000
39          2000   82.636364    7.281818
40          2001   92.736842    7.078947
41          2002   82.380952    7.233333
42          2003   90.758621    6.927586
43          2004  106.625000    6.825000
44          2005   88.806452    6.551613
45          2006   92.581395    7.202326
46          2007   94.288889    6.651111
47          2008   93.120690    6.718966
48          2009   93.732143    6.733929
49          2010   87.222222    6.793651
50          2011   85.139241    6.751899
51          2012   87.586538    6.822115
52          2013   85.606299    6.628346
53          2014   85.194444    6.819444
54          2015   75.382075    6.706604
55          2016   74.632653    6.623032
56          2017   78.561111    6.502963
57          2018   75.150273    6.502186
58          2019   75.697861    6.518316
59          2020   74.625551    6.316300
60          2021   74.990251    6.302089
61          2022   73.220238    6.194345

In [116]:
#another way to do this

df.groupby(['release_year']).agg({'runtime': 'mean', 'imdb_score': 'mean'}).reset_index()

    release_year     runtime  imdb_score
0           1954  107.500000    7.450000
1           1956  120.000000    6.700000
2           1958   77.000000    7.500000
3           1959  142.000000    6.600000
4           1960  158.000000    6.400000
5           1961  158.000000    7.500000
6           1963  186.000000    7.600000
7           1966  117.000000    7.300000
8           1967  130.000000    7.700000
9           1969   79.500000    8.450000
10          1971  102.000000    7.700000
11          1972   83.000000    7.333333
12          1973  131.000000    5.100000
13          1974  162.000000    6.500000
14          1975  100.500000    7.300000
15          1976  124.333333    6.666667
16          1977  150.000000    7.500000
17          1978  141.000000    4.400000
18          1979  105.000000    7.120000
19          1980  119.333333    5.233333
20          1981   87.666667    6.500000
21          1982  103.166667    7.066667
22          1983  102.500000    6.600000
23          1984  111.166667    6.883333
24          1985   87.000000    8.000000
25          1986  117.000000    6.250000
26          1987   89.833333    6.716667
27          1988  105.285714    6.000000
28          1989   84.454545    7.236364
29          1990  119.285714    6.928571
30          1991   99.666667    5.988889
31          1992   75.500000    5.500000
32          1993  105.571429    6.950000
33          1994  102.125000    6.943750
34          1995  105.800000    7.020000
35          1996   82.142857    6.914286
36          1997  110.062500    6.887500
37          1998   96.095238    7.100000
38          1999   97.583333    6.900000
39          2000   82.636364    7.281818
40          2001   92.736842    7.078947
41          2002   82.380952    7.233333
42          2003   90.758621    6.927586
43          2004  106.625000    6.825000
44          2005   88.806452    6.551613
45          2006   92.581395    7.202326
46          2007   94.288889    6.651111
47          2008   93.120690    6.718966
48          2009   93.732143    6.733929
49          2010   87.222222    6.793651
50          2011   85.139241    6.751899
51          2012   87.586538    6.822115
52          2013   85.606299    6.628346
53          2014   85.194444    6.819444
54          2015   75.382075    6.706604
55          2016   74.632653    6.623032
56          2017   78.561111    6.502963
57          2018   75.150273    6.502186
58          2019   75.697861    6.518316
59          2020   74.625551    6.316300
60          2021   74.990251    6.302089
61          2022   73.220238    6.194345

In [110]:
#calculate the standard deviation of movies and tv shows ratings for each release year

df.groupby('release_year')['imdb_score'].std().reset_index()

    release_year  imdb_score
0           1954    0.070711
1           1956         NaN
2           1958         NaN
3           1959         NaN
4           1960         NaN
5           1961         NaN
6           1963         NaN
7           1966         NaN
8           1967    0.000000
9           1969    0.494975
10          1971         NaN
11          1972    1.001665
12          1973         NaN
13          1974         NaN
14          1975    1.272792
15          1976    1.858315
16          1977         NaN
17          1978         NaN
18          1979    0.952365
19          1980    2.891943
20          1981    1.389244
21          1982    0.647045
22          1983    0.200000
23          1984    0.825631
24          1985         NaN
25          1986    0.793725
26          1987    1.244856
27          1988    1.243651
28          1989    0.911343
29          1990    1.125040
30          1991    1.012971
31          1992    2.404163
32          1993    0.712255
33          1994    1.200538
34          1995    1.255919
35          1996    0.786190
36          1997    1.172959
37          1998    0.856154
38          1999    1.136182
39          2000    1.006795
40          2001    1.063317
41          2002    1.201804
42          2003    1.144832
43          2004    1.033628
44          2005    1.207441
45          2006    1.050054
46          2007    1.105692
47          2008    1.167161
48          2009    1.225825
49          2010    1.017726
50          2011    1.065888
51          2012    1.241355
52          2013    1.249184
53          2014    1.088804
54          2015    1.221162
55          2016    1.131588
56          2017    1.132105
57          2018    1.113342
58          2019    1.147711
59          2020    1.193628
60          2021    1.129290
61          2022    1.203526

In [111]:
#calculate the standardized score for tmdb_popularity for each movie and tvshow within its respective genre
#and modify the original dataframe to include it

df['standardized_imdb'] = df.groupby('genres')['tmdb_popularity'].transform(lambda x: (x-x.mean())/x.std())
df

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,standardized_imdb
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],1.0,tt0075314,8.2,808582.0,40.965,8.179,0.335563
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],1.0,tt0068473,7.7,107673.0,10.010,7.300,NaN
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],1.0,tt0071853,8.2,534486.0,15.461,7.811,-0.707107
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,No certification,150,"['war', 'action']","['GB', 'US']",1.0,tt0061578,7.7,72662.0,20.398,7.600,0.707107
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306,1.530534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5843,tm1097142,My Bride,MOVIE,The story follows a young man and woman who go...,2021,No certification,93,"['romance', 'comedy', 'drama']",['EG'],1.0,tt14216488,5.0,327.0,2.545,5.300,-0.309386
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,No certification,100,"['romance', 'drama']",['NG'],1.0,tt13857480,6.8,45.0,1.466,NaN,-0.390928
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,No certification,134,['drama'],[],1.0,tt11803618,7.7,348.0,NaN,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,No certification,90,['comedy'],['CO'],1.0,tt14585902,3.8,68.0,26.005,6.300,0.824653
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,No certification,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000,-1.004044

In [169]:
#another way is to create the custom function and insert it into the transform method

def standardize(x):
    return (x-x.mean())/x.std()
    
df.groupby('genres')['tmdb_popularity'].apply(standardize).reset_index(name='standardized_imdb')

      index  standardized_imdb
0         1           0.335563
1         2                NaN
2         3          -0.707107
3         4           0.707107
4         5           1.530534
...     ...                ...
5363   5843          -0.309386
5364   5845          -0.390928
5365   5846                NaN
5366   5847           0.824653
5367   5849          -1.004044

[5368 rows x 2 columns]

In [130]:
#find the minimum, maximum, median and standard deviation release year for each movie or tvshow type

df.groupby('type')['release_year'].agg(['min', 'max', 'median', 'std'])

        min   max  median       std
type
MOVIE  1954  2022    2018  7.792890
SHOW   1969  2022    2019  5.179166

In [140]:
#calculate the average and max imdb_score and tmdb_score for each season and release year combination

df.groupby(['release_year','seasons'])[['imdb_score', 'tmdb_score']].agg(['mean', 'max'])

                     imdb_score      tmdb_score
                           mean  max       mean     max
release_year seasons
1954         1.0       7.450000  7.5   7.100000   7.200
1956         1.0       6.700000  6.7   5.900000   5.900
1958         1.0       7.500000  7.5   7.300000   7.300
1959         1.0       6.600000  6.6   6.000000   6.000
1960         1.0       6.400000  6.4   6.300000   6.300
1961         1.0       7.500000  7.5   7.300000   7.300
1963         1.0       7.600000  7.6   7.100000   7.100
1966         1.0       7.300000  7.3   7.100000   7.100
1967         1.0       7.700000  7.7   7.550000   7.600
1969         1.0       8.100000  8.1   8.500000   8.500
             4.0       8.800000  8.8   8.306000   8.306
1971         1.0       7.700000  7.7   7.500000   7.500
1972         1.0       7.333333  8.1   6.800000   7.300
1973         1.0       5.100000  5.1   3.800000   3.800
1974         1.0       6.500000  6.5   5.300000   5.300
1975         1.0       7.300000  8.2   7.505500   7.811
1976         1.0       6.666667  8.2   6.493000   8.179
1977         1.0       7.500000  7.5   7.300000   7.300
1978         1.0       4.400000  4.4   6.000000   6.000
1979         1.0       7.120000  8.1   6.660000   7.800
1980         1.0       5.233333  7.8   5.352000   6.156
1981         1.0       6.050000  7.2   6.450000   7.200
             10.0      7.400000  7.4   7.500000   7.500
1982         1.0       7.100000  7.9   6.480000   7.500
             4.0       6.900000  6.9   7.500000   7.500
1983         1.0       6.566667  6.7   6.900000   7.000
             39.0      6.700000  6.7   6.800000   6.800
1984         1.0       6.960000  8.3   7.038250   8.453
             24.0      6.500000  6.5   6.500000   6.500
1985         1.0       8.000000  8.0   8.100000   8.100
1986         1.0       6.250000  7.0   6.235667   7.000
1987         1.0       6.840000  8.3   7.350000   8.100
             13.0      6.100000  6.1   7.200000   7.200
1988         1.0       6.000000  7.3   6.300000   8.000
1989         1.0       7.137500  8.1   6.650000   7.400
             4.0       6.500000  6.5   6.500000   6.500
             5.0       7.100000  7.1   8.000000   8.000
             9.0       8.900000  8.9   8.301000   8.301
1990         1.0       6.928571  8.7   6.537571   8.463
1991         1.0       5.988889  7.2   5.866667   7.400
1992         1.0       7.200000  7.2   7.100000   7.100
             14.0      3.800000  3.8   4.900000   4.900
1993         1.0       7.050000  8.5   6.491167   8.100
             4.0       6.200000  6.2   6.300000   6.300
             29.0      6.500000  6.5   6.800000   6.800
1994         1.0       6.816667  8.8   6.782000   8.478
             4.0       7.800000  7.8   7.800000   7.800
             6.0       6.200000  6.2   7.500000   7.500
             7.0       7.800000  7.8   7.300000   7.300
             11.0      7.500000  7.5   8.400000   8.400
1995         1.0       6.955556  8.6   7.065444   8.637
             4.0       7.600000  7.6   7.900000   7.900
1996         1.0       6.960000  7.9   6.580000   7.500
             4.0       7.800000  7.8   8.300000   8.300
             6.0       5.800000  5.8   7.000000   7.000
1997         1.0       6.742857  8.0   6.726214   8.400
             10.0      8.400000  8.4   8.300000   8.300
             25.0      7.400000  7.4   7.633000   7.633
1998         1.0       6.976471  8.9   6.768529   8.522
             4.0       7.700000  8.0   8.150000   8.700
             7.0       7.300000  7.3   7.358000   7.358
             37.0      7.800000  7.8   7.700000   7.700
1999         1.0       6.644444  8.1   6.638889   7.900
             5.0       6.800000  6.8   8.100000   8.100
             7.0       7.400000  7.4   7.500000   7.500
             21.0      8.800000  8.8   8.764000   8.764
2000         1.0       7.057143  9.0   7.242857   8.800
             8.0       7.700000  8.2   7.763500   7.827
             9.0       7.900000  7.9   8.600000   8.600
             42.0      7.400000  7.4   7.400000   7.400
2001         1.0       6.940000  8.2   6.546154   7.900
             5.0       7.300000  7.6   7.850000   7.900
             10.0      7.200000  7.2   7.700000   7.700
             12.0      8.600000  8.6   8.000000   8.000
2002         1.0       6.912500  8.5   6.596462   8.000
             4.0       7.650000  8.3   7.350000   8.100
             6.0       8.400000  8.4   8.363000   8.363
             9.0       8.900000  8.9   8.300000   8.300
             32.0      8.700000  8.7   7.400000   7.400
2003         1.0       6.819048  8.7   6.527579   7.800
             3.0       7.500000  8.8   7.800000   8.100
             4.0       7.000000  7.0   6.900000   6.900
             5.0       8.000000  8.7   7.871500   8.043
             7.0       6.300000  6.3   5.000000   5.000
             20.0      7.800000  7.8   7.600000   7.600
             24.0      5.600000  5.6   5.300000   5.300
2004         1.0       6.792593  8.4   6.659259   7.800
             2.0       7.050000  7.8   7.450000   7.700
             3.0       7.400000  7.4   8.600000   8.600
             4.0       7.300000  7.3   7.200000   7.200
             8.0       6.200000  6.2   8.222000   8.222
2005         1.0       6.383333  7.6   6.137957   7.200
             3.0       9.300000  9.3   8.700000   8.700
             4.0       5.000000  6.1   7.650000   8.200
             6.0       5.100000  5.1   5.600000   5.600
             11.0      9.500000  9.5        NaN     NaN
             15.0      8.400000  8.4   8.278000   8.278
             19.0      7.600000  7.6   8.252000   8.252
2006         1.0       7.094444  9.0   6.652278   8.800
             3.0       7.950000  8.7   8.146500   8.493
             5.0       7.833333  8.7   8.069333   8.108
             7.0       8.300000  8.3   7.400000   7.400
             10.0      6.600000  6.6   8.400000   8.400
2007         1.0       6.641026  8.3   6.636538  10.000
             2.0       5.600000  5.6   8.200000   8.200
             4.0       4.200000  4.2   6.000000   6.000
             6.0       7.366667  8.1   7.733333   8.000
             15.0      8.400000  8.4   8.300000   8.300
2008         1.0       6.556250  8.0   6.413489   7.700
             2.0       7.900000  8.3   8.276250   8.705
             3.0       8.150000  8.2   8.200000   8.900
             4.0       5.600000  5.6        NaN     NaN
             5.0       8.700000  9.5   8.345000   8.790
             12.0      4.100000  4.1   6.100000   6.100
2009         1.0       6.595556  8.4   6.415262   8.280
             2.0       7.200000  7.8   7.500000   7.600
             3.0       7.300000  7.6   7.233333   8.900
             4.0       6.300000  6.3   8.774000   8.774
             5.0       7.166667  8.6   6.666667   7.900
             6.0       8.500000  8.5   8.000000   8.000
             8.0       7.700000  7.7   8.348000   8.348
2010         1.0       6.644000  8.8   6.472022   8.800
             2.0       7.900000  8.0   7.900000   7.900
             3.0       6.800000  6.8   5.800000   5.800
             4.0       6.900000  8.5   8.107000   8.221
             6.0       5.300000  5.3   6.300000   6.300
             7.0       7.950000  8.3   7.200000   7.400
             9.0       7.600000  7.6   8.100000   8.100
             11.0      8.200000  8.2   8.100000   8.100
             12.0      8.600000  8.6   7.700000   7.700
2011         1.0       6.629032  8.7   6.312069   8.300
             2.0       7.620000  8.4   7.718600   8.300
             3.0       6.975000  9.0   7.550000   8.800
             4.0       6.200000  6.4   8.850000  10.000
             5.0       7.950000  8.8   7.850000   8.300
             7.0       7.700000  7.7   7.300000   7.300
             8.0       7.300000  7.3   9.100000   9.100
             11.0      6.550000  8.6   7.356000   8.112
2012         1.0       6.546053  8.4   6.471889   8.150
             2.0       7.033333  8.5   7.700000   8.000
             3.0       7.640000  8.3   8.250000   8.700
             4.0       7.300000  8.4   7.922750   8.307
             5.0       7.742857  8.4   7.333333   8.800
             6.0       8.300000  8.3   7.800000   7.800
             7.0       7.400000  7.4   7.400000   7.400
             8.0       7.500000  7.5   6.700000   6.700
             9.0       7.400000  7.4   8.100000   8.100
             10.0      7.500000  7.5   9.000000   9.000
             11.0      8.250000  8.5   7.250000   7.400
             13.0      7.400000  7.4   7.900000   7.900
             16.0      7.300000  7.3   7.800000   7.800
2013         1.0       6.521000  9.1   6.440944   8.500
             2.0       6.166667  7.3   7.533333   8.000
             3.0       6.785714  8.6   7.285714   8.700
             4.0       6.862500  9.0   7.437500   8.600
             5.0       8.000000  8.3   8.200000   8.600
             6.0       8.750000  8.8   8.329000   8.558
             7.0       7.050000  8.1   7.450000   7.700
             9.0       8.300000  8.6   7.850000   8.100
             10.0      4.600000  4.6   8.500000   8.500
2014         1.0       6.680734  8.5   6.549904  10.000
             2.0       7.050000  8.0   7.333333   8.200
             3.0       8.100000  8.9   7.525000  10.000
             4.0       6.766667  8.5   6.816667   8.200
             5.0       7.081818  7.9   7.677727   8.503
             6.0       8.225000  8.8   7.900000   8.600
             7.0       7.600000  7.6   7.900000   7.900
             8.0       7.000000  7.6   6.850000   7.800
             15.0      6.100000  6.1   5.600000   5.600
2015         1.0       6.411268  9.2   6.395687   9.200
             2.0       7.020000  8.7   7.347368   9.200
             3.0       7.577778  8.8   7.387389   8.000
             4.0       7.200000  8.3   7.570000   8.400
             5.0       7.260000  8.5   7.521333   8.600
             6.0       7.057143  8.8   7.685714   8.500
             7.0       7.966667  8.5   7.733333   7.900
             9.0       8.350000  8.4   7.550000   8.100
2016         1.0       6.370472  8.7   6.500793   9.700
             2.0       7.155172  8.5   7.305103   9.500
             3.0       7.486207  9.0   7.410345   8.500
             4.0       7.175000  8.4   7.841667  10.000
             5.0       7.476923  8.7   7.763167   8.635
             6.0       7.450000  8.1   7.761500   8.523
             7.0       7.566667  8.3   8.066667  10.000
             8.0       8.100000  8.1   7.400000   7.400
2017         1.0       6.383259  8.9   6.543477  10.000
             2.0       6.930952  8.6   7.235714  10.000
             3.0       7.075000  8.7   7.123091   9.400
             4.0       7.206667  8.5   7.619533   8.800
             5.0       7.750000  8.6   7.860000   9.500
             6.0       7.500000  7.9   8.082750   8.531
             11.0      6.400000  6.4   8.300000   8.300
2018         1.0       6.411824  9.6   6.539394  10.000
             2.0       6.734667  8.6   7.363068  10.000
             3.0       7.119355  8.6   7.640097   9.800
             4.0       6.750000  8.4   7.813364   9.200
             5.0       7.450000  8.5   7.954875   8.800
             6.0       8.033333  8.5   7.566667   7.800
             8.0       5.800000  5.8   8.600000   8.600
2019         1.0       6.407949  9.3   6.809540  10.000
             2.0       7.117333  9.1   7.657384   9.700
             3.0       7.148000  8.7   7.642640   9.000
             4.0       7.164286  8.3   7.842286   8.600
             5.0       6.000000  6.4   8.533333  10.000
             6.0       7.150000  8.6   7.673000   8.400
2020         1.0       6.253659  9.1   6.870685  10.000
             2.0       6.938000  8.8   7.714583  10.000
             3.0       6.470000  8.3   7.920000   9.800
             4.0       7.550000  7.8   8.191500   8.200
             5.0       6.933333  7.5   7.800000   8.000
             6.0       7.900000  7.9   8.700000   8.700
2021         1.0       6.267620  9.0   6.886006  10.000
             2.0       6.733333  8.3   7.713725   9.500
             3.0       6.672727  7.9   7.761636   8.900
             4.0       7.000000  7.0   9.000000   9.000
2022         1.0       6.178528  9.1   6.717720  10.000
             2.0       6.488889  7.5   7.853444   8.452
             3.0       8.700000  8.7   9.027000   9.027

In [141]:
#calculate the average imdb_score and max tmdb_score for each season and release year combination

df.groupby(['seasons', 'release_year']).agg({'imdb_score': 'mean', 'tmdb_score': 'max'})

                      imdb_score  tmdb_score
seasons release_year
1.0     1954            7.450000       7.200
        1956            6.700000       5.900
        1958            7.500000       7.300
        1959            6.600000       6.000
        1960            6.400000       6.300
        1961            7.500000       7.300
        1963            7.600000       7.100
        1966            7.300000       7.100
        1967            7.700000       7.600
        1969            8.100000       8.500
        1971            7.700000       7.500
        1972            7.333333       7.300
        1973            5.100000       3.800
        1974            6.500000       5.300
        1975            7.300000       7.811
        1976            6.666667       8.179
        1977            7.500000       7.300
        1978            4.400000       6.000
        1979            7.120000       7.800
        1980            5.233333       6.156
        1981            6.050000       7.200
        1982            7.100000       7.500
        1983            6.566667       7.000
        1984            6.960000       8.453
        1985            8.000000       8.100
        1986            6.250000       7.000
        1987            6.840000       8.100
        1988            6.000000       8.000
        1989            7.137500       7.400
        1990            6.928571       8.463
        1991            5.988889       7.400
        1992            7.200000       7.100
        1993            7.050000       8.100
        1994            6.816667       8.478
        1995            6.955556       8.637
        1996            6.960000       7.500
        1997            6.742857       8.400
        1998            6.976471       8.522
        1999            6.644444       7.900
        2000            7.057143       8.800
        2001            6.940000       7.900
        2002            6.912500       8.000
        2003            6.819048       7.800
        2004            6.792593       7.800
        2005            6.383333       7.200
        2006            7.094444       8.800
        2007            6.641026      10.000
        2008            6.556250       7.700
        2009            6.595556       8.280
        2010            6.644000       8.800
        2011            6.629032       8.300
        2012            6.546053       8.150
        2013            6.521000       8.500
        2014            6.680734      10.000
        2015            6.411268       9.200
        2016            6.370472       9.700
        2017            6.383259      10.000
        2018            6.411824      10.000
        2019            6.407949      10.000
        2020            6.253659      10.000
        2021            6.267620      10.000
        2022            6.178528      10.000
2.0     2004            7.050000       7.700
        2007            5.600000       8.200
        2008            7.900000       8.705
        2009            7.200000       7.600
        2010            7.900000       7.900
        2011            7.620000       8.300
        2012            7.033333       8.000
        2013            6.166667       8.000
        2014            7.050000       8.200
        2015            7.020000       9.200
        2016            7.155172       9.500
        2017            6.930952      10.000
        2018            6.734667      10.000
        2019            7.117333       9.700
        2020            6.938000      10.000
        2021            6.733333       9.500
        2022            6.488889       8.452
3.0     2003            7.500000       8.100
        2004            7.400000       8.600
        2005            9.300000       8.700
        2006            7.950000       8.493
        2008            8.150000       8.900
        2009            7.300000       8.900
        2010            6.800000       5.800
        2011            6.975000       8.800
        2012            7.640000       8.700
        2013            6.785714       8.700
        2014            8.100000      10.000
        2015            7.577778       8.000
        2016            7.486207       8.500
        2017            7.075000       9.400
        2018            7.119355       9.800
        2019            7.148000       9.000
        2020            6.470000       9.800
        2021            6.672727       8.900
        2022            8.700000       9.027
4.0     1969            8.800000       8.306
        1982            6.900000       7.500
        1989            6.500000       6.500
        1993            6.200000       6.300
        1994            7.800000       7.800
        1995            7.600000       7.900
        1996            7.800000       8.300
        1998            7.700000       8.700
        2002            7.650000       8.100
        2003            7.000000       6.900
        2004            7.300000       7.200
        2005            5.000000       8.200
        2007            4.200000       6.000
        2008            5.600000         NaN
        2009            6.300000       8.774
        2010            6.900000       8.221
        2011            6.200000      10.000
        2012            7.300000       8.307
        2013            6.862500       8.600
        2014            6.766667       8.200
        2015            7.200000       8.400
        2016            7.175000      10.000
        2017            7.206667       8.800
        2018            6.750000       9.200
        2019            7.164286       8.600
        2020            7.550000       8.200
        2021            7.000000       9.000
5.0     1989            7.100000       8.000
        1999            6.800000       8.100
        2001            7.300000       7.900
        2003            8.000000       8.043
        2006            7.833333       8.108
        2008            8.700000       8.790
        2009            7.166667       7.900
        2011            7.950000       8.300
        2012            7.742857       8.800
        2013            8.000000       8.600
        2014            7.081818       8.503
        2015            7.260000       8.600
        2016            7.476923       8.635
        2017            7.750000       9.500
        2018            7.450000       8.800
        2019            6.000000      10.000
        2020            6.933333       8.000
6.0     1994            6.200000       7.500
        1996            5.800000       7.000
        2002            8.400000       8.363
        2005            5.100000       5.600
        2007            7.366667       8.000
        2009            8.500000       8.000
        2010            5.300000       6.300
        2012            8.300000       7.800
        2013            8.750000       8.558
        2014            8.225000       8.600
        2015            7.057143       8.500
        2016            7.450000       8.523
        2017            7.500000       8.531
        2018            8.033333       7.800
        2019            7.150000       8.400
        2020            7.900000       8.700
7.0     1994            7.800000       7.300
        1998            7.300000       7.358
        1999            7.400000       7.500
        2003            6.300000       5.000
        2006            8.300000       7.400
        2010            7.950000       7.400
        2011            7.700000       7.300
        2012            7.400000       7.400
        2013            7.050000       7.700
        2014            7.600000       7.900
        2015            7.966667       7.900
        2016            7.566667      10.000
8.0     2000            7.700000       7.827
        2004            6.200000       8.222
        2009            7.700000       8.348
        2011            7.300000       9.100
        2012            7.500000       6.700
        2014            7.000000       7.800
        2016            8.100000       7.400
        2018            5.800000       8.600
9.0     1989            8.900000       8.301
        2000            7.900000       8.600
        2002            8.900000       8.300
        2010            7.600000       8.100
        2012            7.400000       8.100
        2013            8.300000       8.100
        2015            8.350000       8.100
10.0    1981            7.400000       7.500
        1997            8.400000       8.300
        2001            7.200000       7.700
        2006            6.600000       8.400
        2012            7.500000       9.000
        2013            4.600000       8.500
11.0    1994            7.500000       8.400
        2005            9.500000         NaN
        2010            8.200000       8.100
        2011            6.550000       8.112
        2012            8.250000       7.400
        2017            6.400000       8.300
12.0    2001            8.600000       8.000
        2008            4.100000       6.100
        2010            8.600000       7.700
13.0    1987            6.100000       7.200
        2012            7.400000       7.900
14.0    1992            3.800000       4.900
15.0    2005            8.400000       8.278
        2007            8.400000       8.300
        2014            6.100000       5.600
16.0    2012            7.300000       7.800
19.0    2005            7.600000       8.252
20.0    2003            7.800000       7.600
21.0    1999            8.800000       8.764
24.0    1984            6.500000       6.500
        2003            5.600000       5.300
25.0    1997            7.400000       7.633
29.0    1993            6.500000       6.800
32.0    2002            8.700000       7.400
37.0    1998            7.800000       7.700
39.0    1983            6.700000       6.800
42.0    2000            7.400000       7.400

In [146]:
df.groupby(['seasons', 'release_year'])['release_year'].agg('size').reset_index(name='count')

     seasons  release_year  count
0        1.0          1954      2
1        1.0          1956      1
2        1.0          1958      1
3        1.0          1959      1
4        1.0          1960      1
5        1.0          1961      1
6        1.0          1963      1
7        1.0          1966      1
8        1.0          1967      2
9        1.0          1969      1
10       1.0          1971      1
11       1.0          1972      3
12       1.0          1973      1
13       1.0          1974      1
14       1.0          1975      2
15       1.0          1976      3
16       1.0          1977      1
17       1.0          1978      1
18       1.0          1979      5
19       1.0          1980      3
20       1.0          1981      2
21       1.0          1982      5
22       1.0          1983      3
23       1.0          1984      5
24       1.0          1985      1
25       1.0          1986      4
26       1.0          1987      5
27       1.0          1988      7
28       1.0          1989      8
29       1.0          1990      7
30       1.0          1991      9
31       1.0          1992      1
32       1.0          1993     12
33       1.0          1994     12
34       1.0          1995      9
35       1.0          1996      5
36       1.0          1997     14
37       1.0          1998     17
38       1.0          1999      9
39       1.0          2000      7
40       1.0          2001     15
41       1.0          2002     16
42       1.0          2003     21
43       1.0          2004     27
44       1.0          2005     24
45       1.0          2006     36
46       1.0          2007     39
47       1.0          2008     48
48       1.0          2009     45
49       1.0          2010     50
50       1.0          2011     62
51       1.0          2012     76
52       1.0          2013    100
53       1.0          2014    109
54       1.0          2015    142
55       1.0          2016    254
56       1.0          2017    448
57       1.0          2018    592
58       1.0          2019    629
59       1.0          2020    615
60       1.0          2021    664
61       1.0          2022    326
62       2.0          2004      2
63       2.0          2007      1
64       2.0          2008      4
65       2.0          2009      2
66       2.0          2010      2
67       2.0          2011      5
68       2.0          2012      3
69       2.0          2013      3
70       2.0          2014      6
71       2.0          2015     20
72       2.0          2016     29
73       2.0          2017     42
74       2.0          2018     75
75       2.0          2019     75
76       2.0          2020     50
77       2.0          2021     42
78       2.0          2022      9
79       3.0          2003      2
80       3.0          2004      1
81       3.0          2005      1
82       3.0          2006      2
83       3.0          2008      2
84       3.0          2009      3
85       3.0          2010      1
86       3.0          2011      4
87       3.0          2012      5
88       3.0          2013      7
89       3.0          2014      4
90       3.0          2015     18
91       3.0          2016     29
92       3.0          2017     24
93       3.0          2018     31
94       3.0          2019     25
95       3.0          2020     10
96       3.0          2021     11
97       3.0          2022      1
98       4.0          1969      1
99       4.0          1982      1
100      4.0          1989      1
101      4.0          1993      1
102      4.0          1994      1
103      4.0          1995      1
104      4.0          1996      1
105      4.0          1998      2
106      4.0          2002      2
107      4.0          2003      1
108      4.0          2004      1
109      4.0          2005      2
110      4.0          2007      1
111      4.0          2008      1
112      4.0          2009      1
113      4.0          2010      4
114      4.0          2011      2
115      4.0          2012      4
116      4.0          2013      8
117      4.0          2014      6
118      4.0          2015     10
119      4.0          2016     12
120      4.0          2017     15
121      4.0          2018     22
122      4.0          2019     14
123      4.0          2020      2
124      4.0          2021      1
125      5.0          1989      1
126      5.0          1999      1
127      5.0          2001      2
128      5.0          2003      2
129      5.0          2006      3
130      5.0          2008      2
131      5.0          2009      3
132      5.0          2011      2
133      5.0          2012      7
134      5.0          2013      2
135      5.0          2014     11
136      5.0          2015     10
137      5.0          2016     13
138      5.0          2017      6
139      5.0          2018      8
140      5.0          2019      3
141      5.0          2020      3
142      6.0          1994      1
143      6.0          1996      1
144      6.0          2002      1
145      6.0          2005      1
146      6.0          2007      3
147      6.0          2009      1
148      6.0          2010      1
149      6.0          2012      1
150      6.0          2013      2
151      6.0          2014      4
152      6.0          2015      7
153      6.0          2016      2
154      6.0          2017      4
155      6.0          2018      3
156      6.0          2019      2
157      6.0          2020      1
158      7.0          1994      1
159      7.0          1998      1
160      7.0          1999      1
161      7.0          2003      1
162      7.0          2006      1
163      7.0          2010      2
164      7.0          2011      1
165      7.0          2012      1
166      7.0          2013      2
167      7.0          2014      1
168      7.0          2015      3
169      7.0          2016      3
170      8.0          2000      2
171      8.0          2004      1
172      8.0          2009      1
173      8.0          2011      1
174      8.0          2012      1
175      8.0          2014      2
176      8.0          2016      1
177      8.0          2018      1
178      9.0          1989      1
179      9.0          2000      1
180      9.0          2002      1
181      9.0          2010      1
182      9.0          2012      1
183      9.0          2013      2
184      9.0          2015      2
185     10.0          1981      1
186     10.0          1997      1
187     10.0          2001      1
188     10.0          2006      1
189     10.0          2012      1
190     10.0          2013      1
191     11.0          1994      1
192     11.0          2005      1
193     11.0          2010      1
194     11.0          2011      2
195     11.0          2012      2
196     11.0          2017      1
197     12.0          2001      1
198     12.0          2008      1
199     12.0          2010      1
200     13.0          1987      1
201     13.0          2012      1
202     14.0          1992      1
203     15.0          2005      1
204     15.0          2007      1
205     15.0          2014      1
206     16.0          2012      1
207     19.0          2005      1
208     20.0          2003      1
209     21.0          1999      1
210     24.0          1984      1
211     24.0          2003      1
212     25.0          1997      1
213     29.0          1993      1
214     32.0          2002      1
215     37.0          1998      1
216     39.0          1983      1
217     42.0          2000      1

In [180]:
#calculate the average length of titles(number of characters) for each type

def avg_len(titles):
    if isinstance(x, str):
        length = titles.apply(lambda x: len(x))
    return length.mean()

df.groupby(['genres'])['title'].transform(avg_len).reset_index()

      index      title
0         1  14.365854
1         2  11.000000
2         3  22.000000
3         4  23.500000
4         5  16.696970
...     ...        ...
5363   5843  18.058824
5364   5845  14.200000
5365   5846  14.253676
5366   5847  24.759174
5367   5849  27.000000

[5368 rows x 2 columns]

In [190]:
#find the count and average imdb_score for each age certification category

new_table = df.groupby(['age_certification'])['imdb_score'].agg(['size', 'mean'])
new_table.columns = ['count', 'avg_imdb']
new_table

                   count  avg_imdb
age_certification
G                     99  6.371717
NC-17                 15  6.146667
No certification    2335  6.254518
PG                   223  6.228251
PG-13                435  6.425747
R                    530  6.292642
TV-14                441  7.216100
TV-G                  75  6.333333
TV-MA                833  7.021969
TV-PG                173  6.917341
TV-Y                  98  6.546939
TV-Y7                111  6.836937